//app.scss
$likeButtonColor: #7f7f7f;
$likedColor: #5890ff;

a {
	cursor: pointer;
}

hr {
	margin-top: 20px;
	border: 1px solid #ddd;
}

.card {
	.card-image {
		.card-title {
			right: 0;
			left: inherit;
			padding: 7px 10px;
			background: rgba(0,0,0,0.8);
		}
	}

	.card-action {
		a {
			color: #7f7f7f !important;
			&.liked {
				font-weight: bold;
				color: #5890ff !important;
			}
		}
	}
}

.Item {
	margin-top: 20px;
	overflow: hidden;

	.card {
		box-shadow: none;

		.card-content {
    		padding: 20px 5px;
		}

		.card-action {
			padding: 20px 5px;
		}
	}
}

.Item__user__name {
	font-size: 16px;
}

.Item__counters {
	p {
		color: #9197a3;
	}
}

.Item__actions {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid #ddd;
	a {
		color: $likeButtonColor !important;
		margin-right: 20px;
		&.liked {
			color: $likedColor !important;
		}
	}
}

.Item__comments {
	.input-field {
		label {
			left: 0;
		}
	}
}

.Item__comments__title {
	font-size: 24px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;
}

.Item__comment {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;	
}

.Item__comment__name {
	font-size: 16px;
}


